* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}
.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li {
    font-family: sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .3s ease;
}
.navbar ul li a:hover {
    background-color: rgb(129, 129, 129);
    color: black;
    box-shadow: 0 0 10px white;
    opacity: .8;
    border-radius: 50%;
}

.container {
    max-width: 1200px;
    margin: auto;
    background: #2c2929;
    overflow: auto;
}

.interest {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 390px;
}

.interest img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
    color: #ccc;
}

/* footer */
.footer {
    text-align: center;
    background-color:  rgb(84, 84, 84);
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: normal;
}